# Normalize all text files to UTF-8
* text=auto eol=lf
# Explicitly declare Python files as UTF-8
*.py text eol=lf working-tree-encoding=UTF-8
# Explicitly declare JSON, Markdown, etc.
*.json text eol=lf working-tree-encoding=UTF-8
*.md   text eol=lf working-tree-encoding=UTF-8
*.yml  text eol=lf working-tree-encoding=UTF-8
*.onnx filter=lfs diff=lfs merge=lfs -text
